<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tienda en linea</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Tienda</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Pagina Principal</a>
                <a class="nav-item nav-link" href="/cart">Carrito de compras</a>
                <a class="nav-item nav-link" href="/compras">Compras</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron bg-success">
            <h1 class="display-4 text-white">
                Su compra se ha completado exitosamente
            </h1>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <a class="btn btn-primary" href="/">Pagina Principal</a>
            </div>
        </div>
    </div>
</body>
</html>